html, body {
    padding: 0;
    margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container .header {
    background-color: blue;
    height: 140px;
}
.container .main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.container .main .content {
    background-color: red;
    flex-grow: 1;
}
.container .main .news {
    background-color: green;
    width: 300px;
}
.container .footer {
    background-color: yellow;
    height: 200px;
}
